.ai-form-container {
    background-color: #1e1e1e;
    color: white;
    padding: 50px 100px;
    max-width: 800px;
    margin: auto;
    height: 100vh;
  }
  
  .form-title {
    text-align: left;
    font-weight:bolder;
    font-size: 38px;
    margin-bottom: 38px;
  }
  
  .form-group {
    margin-bottom: 50px;
   
  }
  
  label {
    color: #BB86FC;
    font-weight: 700;
    font-size: 16px;
   margin: 30px 0 !important;
  }
  .left , .right{
    width: 50% !important;
  }
  .form-control,
  .form-select {
    background-color: #121212;
    border: 1px solid #000000;
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 10px 0 10px rgba(71, 71, 71, 0.1);
    margin:20px 0px 40px 0;
  }
  
  .form-control:focus,
  .form-select:focus {
    background-color: #2a2a2a;
    color: white;
    box-shadow: none;
  }
  
  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding:  10px 0;
  }
  .checkbox-group .form-check label {
    color: #FFFFFF;
    font-size: 12px;
    padding: 0 10px;
  }
  
  .submit-btn {
    width: 500px;
    background-color: #a560e8;
    border: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
  }
  
  .submit-btn:hover {
    background-color: #8a40d6;
  }
  .save-btn{
    width: 500px;
    background-color: #121212;
    border: none;
    color: #FFFFFF;
    padding: 12px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
  }
  